# Pràctica 2

**Autor:** Albert Moya

El repositori de la pràctica es pot visitar en el següent [enllaç](https://github.com/albertmoyanadal/ttad/tree/main/delivery).

In [2]:
import pandas as pd
import numpy as np
np.random.seed(42)

## Exercici 1

**Creación de DataFrames**

### Apartat a)

Crea un DataFrame `df1` con una columna llamada `numeros` que contenga los valores del 0 al 19.

In [6]:
df1 = pd.DataFrame({"numeros": range(20)})
df1

    numeros
0         0
1         1
2         2
3         3
4         4
5         5
6         6
7         7
8         8
9         9
10       10
11       11
12       12
13       13
14       14
15       15
16       16
17       17
18       18
19       19

### Apartat b)

Crea un DataFrame `df2` con una columna `aleatorios` de tamaño 10 con números aleatorios entre 0 y 1.

In [15]:
df2 = pd.DataFrame({"aleatorios": np.random.rand(10)}) # 0i 1 ja està per defecte
df2

   aleatorios
0    0.020584
1    0.969910
2    0.832443
3    0.212339
4    0.181825
5    0.183405
6    0.304242
7    0.524756
8    0.431945
9    0.291229

### Apartat c)

Combina los DataFrames anteriores `df1` y `df2` en un nuevo DataFrame llamado `df3`.

In [19]:
df3 = pd.concat([df1, df2], axis=1) # axis=1 vol dir que es concatena una columan davora l'altra
df3

    numeros  aleatorios
0         0    0.020584
1         1    0.969910
2         2    0.832443
3         3    0.212339
4         4    0.181825
5         5    0.183405
6         6    0.304242
7         7    0.524756
8         8    0.431945
9         9    0.291229
10       10         NaN
11       11         NaN
12       12         NaN
13       13         NaN
14       14         NaN
15       15         NaN
16       16         NaN
17       17         NaN
18       18         NaN
19       19         NaN

### Apartat d)

Guarda el DataFrame `df3` en un fichero `.csv`.

In [22]:
df3.to_csv("df3", index=False) # no guardaré l´índex

## Exercici 2

**Indexación y selección (10 pts)**

Dado el DataFrame:

```python
import pandas as pd
df = pd.DataFrame({
    "A": range(1, 11),
    "B": [5,3,6,8,2,9,1,7,4,10]
})

In [29]:
df = pd.DataFrame({
    "A": range(1, 11),
    "B": [5,3,6,8,2,9,1,7,4,10]
})

### Apartat a)

Selecciona las filas donde el valor de la columna `B` sea mayor que 5.

In [24]:
df[df['B'] > 5]

    A   B
2   3   6
3   4   8
5   6   9
7   8   7
9  10  10

### Apartat b)

Cambia los valores menores que 4 en la columna `B` a `NaN`. Para usar el valor `NaN` hay que utilizar `pd.NA`.

In [31]:
# amb loc filtram per files i seleccionam la columna
df.loc[df['B'] < 4, 'B'] = pd.NA
df

    A     B
0   1   5.0
1   2   NaN
2   3   6.0
3   4   8.0
4   5   NaN
5   6   9.0
6   7   NaN
7   8   7.0
8   9   4.0
9  10  10.0

## Exercici 3

**Análisis de datos**

Descargad el conjunto de datos disponible en la página web y utilizad el fichero `winequality-red.csv`. Este dataset contiene información físico-química sobre diferentes vinos tintos de Portugal.

Se pide:

In [3]:
red_wine = pd.read_csv("../data/winequality-red.csv", delimiter=';')
red_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

### Apartat a)

Obtén los estadísticos descriptivos más relevantes (`describe`) de cada columna. Explica brevemente qué mide cada una de ellas.

In [4]:
red_wine.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

Les següents funcions s'apliquen a cada columna

- `count`: nombre de observacions
- `mean`: mitjana de les observacions
- `std`: desviació estèndard de les observacions
- `min`: observació més petita
- `25%`: observació que està en el 25% de les dades
- `50%`: observació que està en el 50% de les dades, també es coneix com la mediana
- `75%`: observació que està en el 75% de les dades
- `max`: valor màxim de les observacions

### Apartat b)

Convierte la columna `quality` en una columna categórica con tres categorías:

-  **bueno**
-  **regular**
-  **malo**

In [5]:
red_wine['quality'] = pd.cut(red_wine['quality'], bins=3, labels=['bueno','regular','malo'])
red_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular

### Apartat c)

Selecciona los vinos clasificados como **malo** y elimínelos del DataFrame.

In [9]:
bad_idx = red_wine[red_wine['quality'] == "malo"].index
red_wine.drop(bad_idx)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,regular
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,regular
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,regular
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,regular
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,regular
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,regular
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,regular
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,regular
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,regular

### Apartat d)

Convierte los valores de la columna `citric acid` a porcentajes.

### Apartat d)

Obtén los siete vinos con mayor valor de `pH`.

Ahora crea un fichero `.py` que defina las siguientes funciones:

### Apartat a)

`eliminaDecimales(df, col)`: recibe un DataFrame y el nombre de una columna, y crea una nueva columna llamada `<col>_sin_decimales` con el mismo valor pero truncado (sin decimales).

### Apartat b)

`calculaRatio(df, col1, col2)`: calcula el ratio entre dos columnas y genera una excepción si algún valor del ratio es mayor que 1.

Aplica la primera función a la columna `alcohol` y la segunda a las columnas `total sulfur dioxide` y `free sulfur dioxide`.

### Exercici 4

**Combinando información en pandas**

Dispones de los siguientes DataFrames:

```python
import pandas as pd

estudiantes = pd.DataFrame({
    "id": [1, 2, 3, 4],
    "nombre": ["Ana", "Luis", "Marta", "Jorge"]
})

notas = pd.DataFrame({
    "id": [1, 2, 2, 5],
    "asignatura": ["Matemáticas", "Historia", "Química", "Biología"],
    "nota": [8.5, 7.0, 6.5, 9.0]
})
```

Realiza las siguientes tareas:

### Apartat a)

Realiza un **merge interno** (`inner`) entre ambos DataFrames. ¿Cuántas filas se obtienen? ¿Por qué?

### Apartat b)

Realiza un **merge externo** (`outer`). Explica las filas que aparecen con valores nulos.

### Apartat c)

Realiza un **left merge** usando `estudiantes` como tabla izquierda. ¿Qué información se pierde respecto al `outer`?

### Apartat d)

Realiza un **right merge** usando `notas` como tabla derecha. ¿Qué estudiantes desaparecen en el resultado?

### Apartat e)

Añade una columna llamada `curso` al DataFrame `estudiantes`. Después, combina los datos utilizando un merge múltiple por `id` y explica el resultado.

## Exercici 5

**Agregaciones y operaciones con `groupby`**

Se trabajará con un conjunto de datos sobre ventas realizadas por una empresa en distintas regiones.

```python
import pandas as pd

ventas = pd.DataFrame({
    "region": ["Norte","Norte","Sur","Este","Sur","Este","Oeste",
               "Oeste","Norte","Sur"],
    "vendedor": ["Ana","Luis","Ana","Jorge","Luis","Ana","Marta",
                 "Luis","Ana","Jorge"],
    "ventas": [1200, 800, 950, 1100, 400, 1600, 700, 450, 895, 900],
    "producto": ["A","A","B","A","B","A","B","A","B","B"]
})
```

Realiza las siguientes tareas:

### Apartat a)

Obtén el total de ventas por región.

### Apartat b)

Calcula la media, el valor máximo y el mínimo de las ventas agrupadas por vendedor.

### Apartat c)

Calcula el número de ventas realizadas por cada combinación de `region` y `producto`.

### Apartat d)

Crea una función llamada `rango_ventas` en un fichero `.py` que calcule la diferencia entre el valor máximo y mínimo de un grupo. Aplícala a las ventas agrupando por región.

### Apartat e)

Identifica la región con el mayor número total de ventas y muestra solo esa región.

## Exercici 6

**Gestión de datos ausentes**

Después de la clase del día 18/11/2025 se añadirá el enunciado de este ejercicio.